.counter{
    text-align: center;
    font-size: 55px;
}

.incrementCounter{
    margin: 25px;
    padding: 25px;
    font-size: 25px;
}
.decrementCounter{
    margin: 25px;
    padding: 25px;
    font-size: 25px;
}
.resetCounter{
    margin: 25px;
    padding: 25px;
    font-size: 25px;
}